.board {
  width: 1024px;
  min-height: 560px;
  position: relative;
  margin: 0 auto;

  .header {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
  }

  .jacket {
    position: absolute;
    width: 651px;
    height: 480px;
    left: 10px;
    top: 70px;
    background-size: 651px 480px;
    background-image: url("./assets/img/jacket.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }

  .slot {
    position: absolute;
    left: 314px;
    width: 40px;
    height: 40px;
    border: 3px dashed #f2f2f2;
    border-radius: 50%;
    z-index: 2;

    &.slot1 {
      top: 110px;
    }
    &.slot2 {
      top: 180px;
    }
    &.slot3 {
      top: 250px;
    }
    &.slot4 {
      top: 320px;
    }
    &.slot5 {
      top: 390px;
    }
  }

  .button-plate {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 3;

    &.react-draggable:not(.matched) {
      cursor: grab;
    }

    &.matched {
      transition: transform 500ms;

      .button-cont {
        transform: scale(0.78);
        transition: transform 500ms;
      }
      .button-img,
      .button-green {
        opacity: 0;
      }

      .button-img {
        transition: opacity 500ms;
      }

      .button-sewed {
        opacity: 1;
      }
    }

    .button-cont {
      position: relative;
      width: 80px;
      height: 80px;

      div {
        position: absolute;
        width: 80px;
        height: 80px;
        background-image: url("./assets/img/plate.svg");
        background-repeat: no-repeat;
        background-size: 240px 80px;
      }
    }

    .button-img {
      background-position: 0 0;
      z-index: 1;
    }

    .button-sewed {
      background-position: -80px 0;
      opacity: 0;
    }

    .button-green {
      background-position: -160px 0;
      opacity: 0;
    }
  }

  .num-rows {
    display: none;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: #ddd;
    border-radius: 0 0 15px 15px;
    opacity: 0;
    z-index: 10;

    .btn-num {
      font-size: 30px;
      padding: 5px 15px;
      margin: 0 10px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 1px 0 0 #4f4e4e;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
    }
  }

  .right-answer {
    // @extend .btn-num;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    padding: 5px 15px;
    background-color: #00aaff;
    border-radius: 5px;
    opacity: 0;
    z-index: 10;
    transition: opacity 500ms;
  }

  &.all-matched {
    .jacket,
    .button-plate:not(.matched),
    .slot,
    .header {
      opacity: 0;
      transition: opacity 500ms;
    }

    .num-rows {
      display: flex;
      opacity: 1;
      transition: opacity 700ms;
      transition-delay: 700ms;
    }
  }
}

.end-animation {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  & > div {
    position: relative;

    .title {
      font-size: 32px;
      color: #00aaff;
    }

    .fruit {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 0;
      bottom: -20px;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        transform-origin: 50px 60px;
      }
    }

    .mask {
      position: absolute;
      right: -200px;
      bottom: -25px;
      width: 400px;
      height: 100px;
      background: #fff;
      animation: maskWidth 2s linear forwards;
    }
  }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
  transition-timing-function: ease-in-out !important;
}

.fade-out-bottom {
  animation: fadeOutBottom 0.5s forwards;
  transition-timing-function: ease-in-out !important;
}

.bounce-left-right {
  animation: bounceLeftRight 2s linear forwards;
}

.rotate {
  animation: spin 700ms linear infinite;
}

.shake {
  animation: shake 500ms linear forwards;
}

@keyframes fadeOutBottom {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 50px);
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes bounceLeftRight {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  25% {
    transform: rotate(-45deg)
  }
  75% {
    transform: rotate(30deg);
  }
}

@keyframes maskWidth {
  0% {
    width: 400px;
  }
  100% {
    width: 0px;
  }
}
